
<h2> Estudiante: <%= @student.nombre %> </h2>
<ul>
    <li>programa: <%= @student.programa %></li>
    <li>fecha de nacimiento: <%= @student.fecha_nacimiento %></li>
    <li>correo: <%= @student.correo %></li>
</ul>