<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<style>

table {
   width: 50%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-spacing: 0;
}
</style>
<body>
<h2>listado de profesores</h2>

<%@taechers %>
<table>
    <thead>
    <tr>
    <th>nombre</th>
    <th>programa</th>
    <th>fecha nacimiento</th>
    <th>correo</th>
    </tr>
    </thead>


<tbody>
    <% @teachers.each do |teacher| %>

    <tr>
    <td><%= teacher.nombre %><td>
    <td><%= teacher.programa %></td>
    <td><%= teacher.fecha_nacimiento %></td>
    <td><%= teacher.correo %></td>
    </tr>
    <% end %>
</tbody>
</table>
</body>
</html>