<ul>
    <li>nombre: <%= @teacher.nombre %></li>
    <li>programa: <%= @teacher.programa %></li>
    <li>fecha de nacimiento: <%= @teacher.fecha_nacimiento %></li>
    <li>correo: <%= @teacher.correo %></li>

</ul>